# Merge cleaned Philadelphia data and Weather Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import math
import random

In [3]:
phil = pd.read_csv("cleaned_Phil.csv")
phil.count()

/Users/daiwei/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

trip_id                1678842
duration               1678842
start_time             1678842
end_time               1678842
start_station          1678842
end_station            1678842
bike_id                1678842
plan_duration          1678842
trip_route_category    1678842
passholder_type        1678842
bike_type              1678842
Date_s                 1678842
Weekday_s              1678842
Hour_s                 1678842
Date_e                 1678842
Weekday_e              1678842
Hour_e                 1678842
start_coordinates      1678842
end_coordinates        1678842
dtype: int64

In [14]:
phil

,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

In [12]:
# read the weather data from another csv
weather = pd.read_csv("weather_data_clean.csv")
weather

,city,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature,Date,Weekday,time,minute
0,Philadelphia,2020-12-31 00:54:00,5.0,27.0,Mostly Cloudy,1021.09,19.0,0.0,1.0,2020-12-31,3,00:54:00,54
1,Philadelphia,2020-12-31 01:54:00,4.0,27.0,Mostly Cloudy,1020.42,13.0,0.0,1.0,2020-12-31,3,01:54:00,54
2,Philadelphia,2020-12-31 02:54:00,6.0,26.0,Cloudy,1019.40,15.0,0.0,2.0,2020-12-31,3,02:54:00,54
3,Philadelphia,2020-12-31 03:54:00,7.0,26.0,Cloudy,1018.72,20.0,0.0,3.0,2020-12-31,3,03:54:00,54
4,Philadelphia,2020-12-31 04:54:00,7.0,26.0,Cloudy,1018.05,24.0,0.0,3.0,2020-12-31,3,04:54:00,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14748,Philadelphia,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0,2022-09-09,4,19:54:00,54
14749,Philadelphia,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0,2022-09-09,4,20:54:00,54
14750,Philadelphia,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0,2022-09-09,4,21:54:00,54
14751,Philadelphia,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0,2022-09-09,4,22:54:00,54
14752,Philadelphia,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0,2022-09-09,4,23:54:00,54

## - clean the Data and extracting the columns we need -

In [13]:
# drop comumns we do not need
weather.drop([ "city","Date","Weekday","time","minute"], axis =1, inplace = True)
weather

,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,2020-12-31 00:54:00,5.0,27.0,Mostly Cloudy,1021.09,19.0,0.0,1.0
1,2020-12-31 01:54:00,4.0,27.0,Mostly Cloudy,1020.42,13.0,0.0,1.0
2,2020-12-31 02:54:00,6.0,26.0,Cloudy,1019.40,15.0,0.0,2.0
3,2020-12-31 03:54:00,7.0,26.0,Cloudy,1018.72,20.0,0.0,3.0
4,2020-12-31 04:54:00,7.0,26.0,Cloudy,1018.05,24.0,0.0,3.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [16]:
# reorder the column and rename the column of Datetime
weather.rename(columns ={"timestamp":"start_time"}, inplace = True)
weather

,start_time,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,2020-12-31 00:54:00,5.0,27.0,Mostly Cloudy,1021.09,19.0,0.0,1.0
1,2020-12-31 01:54:00,4.0,27.0,Mostly Cloudy,1020.42,13.0,0.0,1.0
2,2020-12-31 02:54:00,6.0,26.0,Cloudy,1019.40,15.0,0.0,2.0
3,2020-12-31 03:54:00,7.0,26.0,Cloudy,1018.72,20.0,0.0,3.0
4,2020-12-31 04:54:00,7.0,26.0,Cloudy,1018.05,24.0,0.0,3.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [19]:
# change the starttime_weather to datetime datatype
weather["start_time"] = pd.to_datetime(weather["start_time"])
weather

,start_time,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,2020-12-31 00:54:00,5.0,27.0,Mostly Cloudy,1021.09,19.0,0.0,1.0
1,2020-12-31 01:54:00,4.0,27.0,Mostly Cloudy,1020.42,13.0,0.0,1.0
2,2020-12-31 02:54:00,6.0,26.0,Cloudy,1019.40,15.0,0.0,2.0
3,2020-12-31 03:54:00,7.0,26.0,Cloudy,1018.72,20.0,0.0,3.0
4,2020-12-31 04:54:00,7.0,26.0,Cloudy,1018.05,24.0,0.0,3.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [21]:
# filter the data we need in year 2021 - 1st January until 31 of december 2022
weather = weather[(weather.start_time>='2021-01-01')]
weather = weather[(weather.start_time<='2022-12-31')]
weather

,start_time,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [23]:
# change the start_timeto datetime datatype
phil["start_time"] = pd.to_datetime(phil["start_time"])
phil

,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

In [27]:
# extract the "Hour" from the datetime
phil.start_time.dt.hour

0           0
1           0
2           0
3           0
4           0
           ..
1678837    23
1678838    23
1678839    23
1678840    23
1678841    23
Name: start_time, Length: 1678842, dtype: int64

In [26]:
weather.start_time.dt.hour

24        0
25        1
26        2
27        3
28        4
         ..
14748    19
14749    20
14750    21
14751    22
14752    23
Name: start_time, Length: 14729, dtype: int64

In [28]:
# check the result of weather-dataframe  
weather

,start_time,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [29]:
# check the result of phil dataframe
phil

,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

KeyError: "['Unnamed: 0'] not found in axis"

In [39]:
# reorder the column and rename the column of Datetime
weather.rename(columns ={"start_time":"starttime_weather"}, inplace = True)
weather

,start_time_weather,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...
14748,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

## - merge the temparature data from "weather" to "phil"-

In [32]:
import datetime

In [33]:
# use datetime function to add the column for the exact same time from "weather"
# example: shortDate = datetime.today().strftime('%Y-%m-%d %H')

In [36]:
# add a new column for the new time set
# give the whole column a value for the later operation
phil.insert(0,'starttime_weather', "00")
phil

,starttime_weather,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,00,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,00,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,00,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,00,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,00,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,00,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,00,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,00,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,00,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,00,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

In [42]:
# add a new column for the new time set
# give the whole column a value for the later operation
weather.insert(0,'starttime_weather', "00")
weather

,starttime_weather,start_time_weather,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,00,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,00,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,00,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,00,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,00,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...,...
14748,00,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,00,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,00,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,00,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,00,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [44]:
# extract the timeset from phil, but extract only till HOUR
# example: df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')
phil["starttime_weather"] = pd.to_datetime(phil["start_time"]).dt.strftime('%Y-%m-%d %H')
weather["starttime_weather"] = pd.to_datetime(weather["start_time_weather"]).dt.strftime('%Y-%m-%d %H')

In [45]:
phil

,starttime_weather,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,2021-01-01 00,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,2021-01-01 00,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,2021-01-01 00,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,2021-01-01 00,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,2021-01-01 00,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,2022-12-31 23,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,2022-12-31 23,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,2022-12-31 23,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,2022-12-31 23,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,2022-12-31 23,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

In [46]:
weather

,starttime_weather,start_time_weather,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,2021-01-01 00,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,2021-01-01 01,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,2021-01-01 02,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,2021-01-01 03,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,2021-01-01 04,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...,...
14748,2022-09-09 19,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2022-09-09 20,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2022-09-09 21,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2022-09-09 22,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2022-09-09 23,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [51]:
# now the new column for the timeset is clean and we can add the Minute and Second with Zero
phil["starttime_weather"] = pd.to_datetime(phil["starttime_weather"]).dt.strftime('%Y-%m-%d %H:%M:%S')
phil

,starttime_weather,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_coordinates,end_coordinates
0,2021-01-01 00:00:00,365184634,15,2021-01-01 00:05:00,2021-01-01 00:20:00,3125,3157,14542,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.943909,-75.167351","39.925449,-75.159538"
1,2021-01-01 00:00:00,365184633,14,2021-01-01 00:06:00,2021-01-01 00:20:00,3022,3010,5294,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.95472,-75.183228","39.947109,-75.166183"
2,2021-01-01 00:00:00,365184632,33,2021-01-01 00:07:00,2021-01-01 00:40:00,3066,3201,14586,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.94561,-75.173477","39.955231,-75.166199"
3,2021-01-01 00:00:00,365184631,9,2021-01-01 00:13:00,2021-01-01 00:22:00,3045,3034,14683,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947922,-75.162369","39.933151,-75.162483"
4,2021-01-01 00:00:00,365184630,13,2021-01-01 00:37:00,2021-01-01 00:50:00,3052,3040,3330,30,One Way,Indego30,standard,2021-01-01,4,0,2021-01-01,4,0,"39.947319,-75.156952","39.962891,-75.166061"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678837,2022-12-31 23:00:00,579499101,23,2022-12-31 23:44:00,2023-01-01 00:07:00,3244,3287,14674,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.938648,-75.16674","39.943668,-75.216057"
1678838,2022-12-31 23:00:00,579499099,17,2022-12-31 23:45:00,2023-01-01 00:02:00,3295,3054,23113,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950279,-75.160271","39.962502,-75.174202"
1678839,2022-12-31 23:00:00,579499097,8,2022-12-31 23:51:00,2022-12-31 23:59:00,3255,3046,16897,30,One Way,Indego30,electric,2022-12-31,5,23,2022-12-31,5,23,"39.950951,-75.164383","39.950119,-75.144722"
1678840,2022-12-31 23:00:00,579499095,23,2022-12-31 23:54:00,2023-01-01 00:16:00,3255,3113,22646,30,One Way,Indego30,electric,2022-12-31,5,23,2023-01-01,6,0,"39.950951,-75.164383","39.97472,-75.197807"
1678841,2022-12-31 23:00:00,579499093,62,2022-12-31 23:54:00,2023-01-01 00:56:00,3161,3010,13100,30,One Way,Indego30,standard,2022-12-31,5,23,2023-01-01,6,0,"39.954861,-75.180908","39.947109,-75.166183"

In [52]:
# now the new column for the timeset is clean and we can add the Minute and Second with Zero
weather["starttime_weather"] = pd.to_datetime(weather["starttime_weather"]).dt.strftime('%Y-%m-%d %H:%M:%S')
weather

,starttime_weather,start_time_weather,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
24,2021-01-01 02:00:00,2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
25,2021-01-01 02:00:00,2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
26,2021-01-01 02:00:00,2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
27,2021-01-01 02:00:00,2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
28,2021-01-01 02:00:00,2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...,...
14748,2021-01-16 13:00:00,2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
14749,2021-01-16 13:00:00,2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
14750,2021-01-16 13:00:00,2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
14751,2021-01-16 13:00:00,2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
14752,2021-01-16 13:00:00,2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [53]:
# check the datatype
phil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1678842 entries, 0 to 1678841
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   starttime_weather    1678842 non-null  object
 1   trip_id              1678842 non-null  int64
 2   duration             1678842 non-null  int64
 3   start_time           1678842 non-null  datetime64[ns]
 4   end_time             1678842 non-null  object
 5   start_station        1678842 non-null  int64
 6   end_station          1678842 non-null  int64
 7   bike_id              1678842 non-null  object
 8   plan_duration        1678842 non-null  int64
 9   trip_route_category  1678842 non-null  object
 10  passholder_type      1678842 non-null  object
 11  bike_type            1678842 non-null  object
 12  Date_s               1678842 non-null  object
 13  Weekday_s            1678842 non-null  int64
 14  Hour_s               1678842 non-null  int64
 15  Date_e               1678842 non-null  object
 16  Weekday_e            1678842 non-null  int64
 17  Hour_e               1678842 non-null  int64
 18  start_coordinates    1678842 non-null  object
 19  end_coordinates      1678842 non-null  object
dtypes: datetime64[ns](1), int64(9), object(10)
memory usage: 256.2+ MB

In [54]:
# check the datatype
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14729 entries, 24 to 14752
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   starttime_weather        14729 non-null  object
 1   start_time_weather       14729 non-null  datetime64[ns]
 2   temperature              14729 non-null  float64
 3   cloud_cover              14729 non-null  float64
 4   cloud_cover_description  14729 non-null  object
 5   pressure                 14729 non-null  float64
 6   windspeed                14729 non-null  float64
 7   precipitation            14729 non-null  float64
 8   felt_temperature         14729 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 1.6+ MB

In [56]:
# change the type of "starttiime_weather" from object to datetime64 for later merging
phil["starttime_weather"] = pd.to_datetime(phil["starttime_weather"])
weather["starttime_weather"] = pd.to_datetime(weather["starttime_weather"])

# Merged table

In [57]:
# now the "starttime_weather" is exact the same in both table
# we can merge it based on "starttime_weather"
# and we want to let the merge search till the end of the table
# so we just let the way of merge blank (standard: left join) it will searth the whole dataset based on all keys
weathermerged = pd.merge(phil, weather, on='starttime_weather')
weathermerged

,starttime_weather,trip_id,duration,start_time,end_time,start_station,end_station,bike_id,plan_duration,trip_route_category,...,start_coordinates,end_coordinates,start_time_weather,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,2021-01-01 02:00:00,365186730,11,2021-01-01 02:20:00,2021-01-01 02:31:00,3124,3069,3640,30,One Way,...,"39.953651,-75.14045","39.937038,-75.150383",2021-01-01 00:54:00,5.0,26.0,Cloudy,1027.19,11.0,0.0,2.0
1,2021-01-01 02:00:00,365186730,11,2021-01-01 02:20:00,2021-01-01 02:31:00,3124,3069,3640,30,One Way,...,"39.953651,-75.14045","39.937038,-75.150383",2021-01-01 01:54:00,4.0,26.0,Cloudy,1028.20,19.0,0.0,0.0
2,2021-01-01 02:00:00,365186730,11,2021-01-01 02:20:00,2021-01-01 02:31:00,3124,3069,3640,30,One Way,...,"39.953651,-75.14045","39.937038,-75.150383",2021-01-01 02:54:00,3.0,29.0,Partly Cloudy,1028.88,20.0,0.0,-2.0
3,2021-01-01 02:00:00,365186730,11,2021-01-01 02:20:00,2021-01-01 02:31:00,3124,3069,3640,30,One Way,...,"39.953651,-75.14045","39.937038,-75.150383",2021-01-01 03:54:00,2.0,27.0,Mostly Cloudy,1029.90,17.0,0.0,-2.0
4,2021-01-01 02:00:00,365186730,11,2021-01-01 02:20:00,2021-01-01 02:31:00,3124,3069,3640,30,One Way,...,"39.953651,-75.14045","39.937038,-75.150383",2021-01-01 04:54:00,2.0,33.0,Fair,1029.90,13.0,0.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010728,2021-01-16 13:00:00,366031436,14,2021-01-16 13:59:00,2021-01-16 14:13:00,3066,3046,11833,365,One Way,...,"39.94561,-75.173477","39.950119,-75.144722",2022-09-09 19:54:00,29.0,30.0,Partly Cloudy,1017.37,11.0,0.0,28.0
1010729,2021-01-16 13:00:00,366031436,14,2021-01-16 13:59:00,2021-01-16 14:13:00,3066,3046,11833,365,One Way,...,"39.94561,-75.173477","39.950119,-75.144722",2022-09-09 20:54:00,28.0,34.0,Fair,1017.71,9.0,0.0,27.0
1010730,2021-01-16 13:00:00,366031436,14,2021-01-16 13:59:00,2021-01-16 14:13:00,3066,3046,11833,365,One Way,...,"39.94561,-75.173477","39.950119,-75.144722",2022-09-09 21:54:00,28.0,34.0,Fair,1017.71,13.0,0.0,27.0
1010731,2021-01-16 13:00:00,366031436,14,2021-01-16 13:59:00,2021-01-16 14:13:00,3066,3046,11833,365,One Way,...,"39.94561,-75.173477","39.950119,-75.144722",2022-09-09 22:54:00,26.0,34.0,Fair,1018.72,9.0,0.0,26.0
1010732,2021-01-16 13:00:00,366031436,14,2021-01-16 13:59:00,2021-01-16 14:13:00,3066,3046,11833,365,One Way,...,"39.94561,-75.173477","39.950119,-75.144722",2022-09-09 23:54:00,23.0,33.0,Fair,1019.40,15.0,0.0,23.0

In [59]:
weathermerged.to_csv('phil_weathermerged.csv')